.training {
    display: grid;
    border: 1px solid #bdc8ca;
}

table {
    border: 1px solid #ccc;  /* граница всей таблицы */
}
tr {
    border: 1px solid #ccc;  /* границы между строками */
}
td, th {
    border: 1px solid #ccc;  /* границы между столбцами */
}

th {
    background-color: #1E90FF;
}

td {
    background-color: #DCDCDC;
}

.save-button {
    width: 100px;
    height: 30px;
}

.cancel-button {
    width: 100px;
    height: 30px;
}

.edit-button {
  width: 40px;
  height: 40px;
  border: none;
  background-image: url('./edit-button.png');
  background-size: cover;
}

.delete-button {
width: 40px;
  height: 40px;
  border: none;
  background-image: url('./delete-button.png');
  background-size: cover;
}