//основные цвета
$button-color: #6eafe2;
$gradient-color-1: rgba(129,230,217,1);
$gradient-color-2: rgba(79,209,197,1);
$table-main-border-color:#bdc8ca;
$table-border-color: #ccc;
$table-header-color: #1E90FF;
$table-bg-color: #DCDCDC;
//размеры

//шрифты